*
!/**/
!*.*
/USACO_netbeans_template/nbproject/private/
/USACO_template/USACO_Template/nbproject/private/
/USACO_template/USACO_Template/build/
/USACO_template/module/nbproject/private/
/USACO_template/module/build/
/USACO_template/
/github*
*.in
*.out


